.btn {
  border-radius: 12px;
  background: none;
  border: 1px solid #ffffff;
  color: white;
  display: flex;
  align-items: center;
  letter-spacing: 0.16px;
  font-size: 0.5rem;
  padding: 5px 20px;
}

.btn-primary {
  border: none;
  background: linear-gradient(#ed8770, #d9519d);
}

.btn > :first-child {
  margin-right: 10px;
}
