.btn {
  border-radius: 12px;
  background: none;
  border: 1px solid #ffffff;
  color: white;
}

.gradient-bg {
  border: none;
  background: transparent
    linear-gradient(180deg, var(#ed8770) 0%, var(D9519D) 100%) 0% 0% no-repeat
    padding-box;
  background: transparent linear-gradient(180deg, #ed8770 0%, #d9519d 100%) 9%
    0% no-repeat padding-box;
}

.button {
  display: flex;
  align-items: center;
  letter-spacing: 0.16px;
  font-size: 8px;
  padding: 5px 20px;
}

.button > :first-child {
  margin-right: 10px;
}
