li {
  list-style-type: none;
  display: flex;
  align-items: center;
  background: none;
  height: 4rem;
  width: 20rem;
  padding-left: 1rem;
}

li > :first-child {
  margin-right: 1rem;
  width: 8%;
}

hr {
  margin: 0;
  width: 83%;
  margin-left: 17%;
  border: 1px solid grey;
}
