footer {
  border-top: 1px solid grey;
  width: 100vw;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151827;
}

.nav-primary {
  color: #d9519d;
}
