/* !Home */
.home {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.square,
.round {
  height: 10px;
  width: 10px;
  background-color: #63666e;
  margin: 1px;
  border-radius: 1px;
}

.round {
  border-radius: 50%;
}
