.button--nav {
  background: none;
  border: none;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  min-width: 90px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.button--nav > :first-child {
  margin: 0;
}
